:root{
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-blue-black: hsl(234, 17%, 12%);
}

#main{
    height: 20px;
    margin-top: 10px;
    animation: kf-color-mix 1s -.1s linear forwards paused;
    background: currentColor;
    font-family: 'Red Hat Text', sans-serif;
}

.stars-bg{
     background-image: url('images/bg-stars.svg');
}

body{
    text-align: center;
    margin:0;
}

h2,h1{
    color:whitesmoke;
}
.main-heading{
    margin-top:10em;
}

.card{
    display: inline-block;
    margin: 2%;
  }

.day-box,.hour-box,.minute-box,.second-box{
      width:140px;
      height:140px;
      background-color: var(--Very-dark-blue-black);
      border-radius: 10px;
}

.days,.hours,.minutes,.seconds{
    color:var(--Soft-red);
    text-align:center;
    font-size:95px;
    margin:0;
    padding-top:10px;
}


/* Footer */

.footer{
    background-image: url('images/pattern-hills.svg');
    margin-top:3%;
    height:150px;
    width:100%;
    text-align:center;
    position:relative;
}

/* Social Media */
.social{
    position:relative;
    top:85px;
}

.social-logo{
    padding:0 20px 0 20px;
}